<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
I am currently in Brazil learning Portuguese and am soon to be married to my lovely fiance, Milena.  

I am looking to obtain a position in the field of engineering / computer science, that will enable me to apply my robust analytical skills, academic background and a passion for all things in engineering to positively affect an organization. I am aiming for the opportunity to work for a company, where I have the potential of getting the necessary experience, growing and learning new technologies. I attain knowledge from many different fields, such as Computer Science, Electrical Engineering, Business, Start-ups. Nevertheless, I am always ready to learn and I am capable of learning from my peers, and strongly believe in the success of teaching one's self with appropriate guidance.
</p>